
%head
  %script{src: 'defer_images.js'}

%body
  - 50.times do |i|
    - id = rand(100..20000)
    - height = rand 100..1000
    - src = "http://placekitten.com/700/#{height}}"

    %img{id: id, src:  "http://placehold.it/700x#{height}"}

    :javascript
      WH.deferImages.add(id, src);